* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    top: 6.5rem;
    background-color: #99ccff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    width: 100%;
    border-bottom: 1px solid black;
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: #edf7f9;
}

.nav-bar {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}




#about-me {
    height: 27rem;
    background-image: url(./images/image0.webp);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 0rem;
}

.about-text {
    margin-left: 1rem;
    width: 50%;
    float: left;
}

.about-text h2 {
    text-align: center;
    font-size: 2.5rem;
}

.about-text p {
    text-align: left;
    font-size: 1.5rem;
}

#about-me figure {
    float: right;
    margin-right: 10rem;
}

#about-me figure figcaption {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
}

#about-me img {
    height: 16rem;
    width: 16rem;
    max-width: 300px;
    border-radius: 50%;
}

@media only screen and (max-width: 1020px) {
    #about-me {
        height: 20rem;
        margin-bottom: none;
    }

    .about-text {
        width: 100%;
        float: unset;
    }

    #about-me p {
        font-size: 1.3rem;
        font-weight: bold;
    }

    #about-me figure {
      visibility: hidden;
    }

    #projects {
        margin-top: none;
    }
  }

#projects h2 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 3rem;
    background-color: #edf7f9;
}

.projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.projects-container figure {
    display: flex;
    align-items: center;
}

.project-container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    background-color: #c5c6d0;
    border: 1px solid black;
}

.projects-container img {
    height: 16rem;
    width: 16rem;
    max-width: 300px;
}

.projects-container figcaption {
    font-size: 1.5em;
    max-width: 250px;
    text-align: center;
    font-weight: bold;
}

.projects-container p {
    max-width: 250px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}

#skills {
    margin-bottom: 10rem;
}

#skills h2 {
    text-align: center;
    margin-bottom: 100px;
    font-size: 3rem;
    background-color: #edf7f9;
}

.skills-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}


.fa-brands {
    font-size: 6.5rem;
}

.contact-container {
    width: 80%;
    text-align: center;
    display: flex;
    margin-left: 6.5rem;
    justify-content: space-around;
}

#contact-me h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    background-color: #edf7f9;
}

#contact-me {
    margin-bottom: 10rem;
}